.users{
    margin:20px;
}
.userPhoto{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
}
.userName{
    font-size: 20px;
    font-weight: bold;
    margin: 5px 0;
}
.follow,
.unfollow{
 padding: 5px 10px;
 cursor: pointer;
 margin: 5px 0;
}
.follow{
    background-color:aquamarine;
}
.unfollow{
    background-color: tomato;
}